<h3>Equal Horizontal Distribution</h3>
<div class="grid grid--equal">
    <div class="grid__item one-ninth"><div class="demo">One</div></div>
    <div class="grid__item one-ninth"><div class="demo">One</div></div>
    <div class="grid__item one-ninth"><div class="demo">One</div></div>
</div>

<h3>Horizontal Distribution to edges</h3>
<div class="grid grid--edges">
    <div class="grid__item one-ninth"><div class="demo">One</div></div>
    <div class="grid__item one-ninth"><div class="demo">One</div></div>
    <div class="grid__item one-ninth"><div class="demo">One</div></div>
</div>