---
notes: |
  Grids can be nested as deeply as you want.
---

<div class="grid">
    <div class="grid__item one-third">
        <div class="demo">
            <div class="grid">
                <div class="grid__item one-half"><div class="demo">1/2</div></div>
                <div class="grid__item one-half"><div class="demo">1/2</div></div>
            </div>
        </div>
    </div>
    <div class="grid__item two-thirds">
        <div class="demo">
            <div class="grid">
                <div class="grid__item one-fifth"><div class="demo">1/5</div></div>
                <div class="grid__item three-fifths"><div class="demo">3/5</div></div>
                <div class="grid__item one-fifth"><div class="demo">1/5</div></div>
            </div>
        </div>
    </div>
</div>
